/* navigation */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  line-height: 2.2;
  font-size: 0.875rem;
  background-color: var(--primary-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 0.6rem;
}

img {
  display: inline-block;
  width: 15rem;
}

.menu-bar {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}

.menu-bar > * {
  height: 3px;
  background-color: var(--secondary-color);
  margin: 2.99px 0;
  transform-origin: left;
  transition: all 0.5s ease-in-out;
}

.menu-bar.active .top-bar {
    transform: rotate(45deg);
}
.menu-bar.active .middle-bar {
    transform: translateX(1rem);
    opacity: 0;
}
.menu-bar.active .bottom-bar {
    transform: rotate(-45deg);
}

.menu a {
  text-transform: uppercase;
  color: grey;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
}

.menu .link-active {
  font-weight: bold;
  color: var(--secondary-color);
}

.menu a:hover {
  background-color: #1ad51a;
  padding-left: 2rem;
  color: var(--secondary-color);
}

.menu {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.show-menu {
  height: 10rem;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
}

@media screen and (min-width: 800px) {

  .nav-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
  }

  .nav-header {
    padding: 0;
  }
  
  .menu-bar {
    display: none;
  }

  .menu {
    height: auto;
    display: flex;
  }

  .menu a{
    padding: 0;
    margin: 0 0.5rem;
  }
  
  .menu a:hover {
    padding: 0;
    background-color: transparent;    
  }

}
