/* google material icons cdn */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* google font */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Fira+Sans:wght@300;400;500;600;700;800;900&display=swap");
/* local css */
@import url("/src/styles/navbar.css");
@import url("/src/styles/blogs.css");
@import url("/src/styles/footer.css");

:root {
	--primary-color: #b5e2fa;
	--secondary-color: #90e0ef;
	--logo-color: #9800ff;
	--orange-color: #fc2f00;
	--highlight-color: #00bbf9;
	--off-white: #f3f4f6;
	--dark-gray: #64748b;
	--link-white: #ffffff;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Cinzel", serif;
	font-family: "Fira Sans", sans-serif;
  scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

main {
  margin-top: 6em;
}

.title {
	color: var(--highlight-color);
	font-family: "Cinzel", serif;
	font-size: x-large;
	font-weight: bold;
	text-align: center;
	margin: 1em 0;
}
