footer {
  overflow: hidden;
  margin-top: 4em;
	text-align: center;
	background-color: var(--primary-color);
	padding: 1em 0;
	box-shadow: -1px -1px 4px 1px rgba(0, 0, 0, 0.4);
}

footer > a:first-child {
	font-family: "Cinzel", serif;
	font-size: large;
	font-weight: 600;
	color: var(--logo-color);
	text-shadow: 1px 1px 1px #000, 3px 3px 5px blue;
}

.social-links {
  margin: 2em auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
}

.social-links > .link {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--primary-color);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4), -1px -1px 4px 1px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  margin-top: 1em;
  line-height: 1.5;
}

.copyright > small {
  display: block;
  color: var(--logo-color);
  text-transform: capitalize;
  font-size: 0.83125rem;
}

.alt-text {
  text-transform: uppercase;
  color: var(--highlight-color);
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  footer > a:first-child {
    font-size: 1.4rem;
  }

  .copyright > small {
    font-size: 0.9rem;
  }
}
/* .footer {
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  color: var(--secondary-color);
  border-top-right-radius: 0.6rem;
}

.footer .footer-heading {
  font-weight: bold;
  font-size: large;
}

.footer .footer-heading img {
  margin-left: 3rem;
}

.footer .link {
  color: var(--secondary-color);
  font-size: 1.25rem;
}

.footer ul {
  padding-inline-start: 0px;
}

@media screen and (max-width: 345px) {

  .footer .list-item-inline {
    padding: 0rem;
  }

  .footer .link {
    padding: 0.5rem 0.86rem;
  }
} */
