/* slide animatiom */
.slide {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.slide.left {
  transform: translateX(-100%);
}

.slide.right {
  transform: translateX(100%);
}

.left.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.right.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}