@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #ebf2fa;
  --color-secondary: #cae9ff;
  --color-logo: #3a86ff;
  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);
}

@layer base {
  *, *::after, *::before { 
    scroll-behavior: smooth;
  }
}