@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-primary: #ffffff;
  --color-secondary: #000000;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --font-josefin: var(--font-josefin);
  --font-cinzel: var(--font-cinzel);
}

@layer base {
  html.dark {
    --color-primary: #000000;
    --color-secondary: #ffffff;
  }

	*,
	*::before,
	*::after {
		@apply font-josefin scroll-smooth;
	}

  body {
		@apply bg-primary text-secondary;
	}


	input,
	button {
		@apply outline-none;
	}

	article {
		@apply min-h-screen scroll-mt-15 border-t border-b border-gray-200 p-4;
	}
}

@layer utilities {
	.scrollbar-hidden::-webkit-scrollbar {
		display: none;
	}
}

@layer components {
	.title {
		@apply text-2xl md:text-3xl font-semibold text-center mb-6;
	}
}
